<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- th:replace ==> Replaces the Current Tag with the Tag Defining 
the Fragment ==> th:replace="templateName :: thymeleafSelector"-->
<div th:replace="admin/header :: header"></div>

<body>
    <!-- Navbar -->
    <div th:replace="admin/navbar :: navbar"></div>
    <!-- End - Bootstrap Navbar -->

    <br>

    <div class="container">
        <div class="row col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Create Post</h2>
                </div>
                <div class="card-body">
                    <form action="" method="post" role="form" th:action="@{/admin/posts}" th:object="${post}">
                        <div class="mb-3">
                            <label for="" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter Post Title"
                                name="title" th:field="*{title}"> <!-- Field Name of the Model Object -->
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Description</label>
                            <textarea class="form-control" id="description" placeholder="Enter Post Description"
                                rows="3" name="description" th:field="*{description}"> <!-- Field Name of the Model Object -->
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Content</label>
                            <textarea class="form-control" id="content" placeholder="Enter Post Content" rows="12"
                                name="content" th:field="*{content}"> <!-- Field Name of the Model Object -->
                            </textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- Footer -->
    <div th:replace="admin/footer :: footer"></div>
</body>

</html>