<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- th:replace ==> Replaces the Current Tag with the Tag Defining 
the Fragment ==> th:replace="templateName :: thymeleafSelector"-->
<div th:replace="admin/header :: header"></div>

<body>
    <!-- Navbar -->
    <div th:replace="admin/navbar :: navbar"></div>
    <!-- End - Bootstrap Navbar -->

    <br>

    <div class="container">
        <div class="row col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Create Post</h2>
                </div>
                <div class="card-body">
                    <form action="" method="post" role="form" th:action="@{/admin/posts}" th:object="${post}">
                        <div class="mb-3">
                            <label for="" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter Post Title"
                                name="title" th:field="*{title}"> <!-- Field Name of the Model Object -->
                            <!-- To Display the Error for the Title -->
                            <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Description</label>
                            <textarea class="form-control" id="description" placeholder="Enter Post Description"
                                rows="3" name="description" th:field="*{description}"> <!-- Field Name of the Model Object -->
                            </textarea>
                            <!-- To Display the Error for the Description -->
                            <p th:if="${#fields.hasErrors('description')}" class="text-danger"
                                th:errors="*{description}"></p>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Content</label>
                            <textarea class="form-control" id="content" placeholder="Enter Post Content" rows="12"
                                name="content" th:field="*{content}"> <!-- Field Name of the Model Object -->
                            </textarea>
                            <!-- To Display the Error for the Content -->
                            <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- Footer -->
    <div th:replace="admin/footer :: footer"></div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- CK Editor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#content'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
</body>

</html>