<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Expressions</title>

    <link rel="stylesheet" th:href="@{/css/demo.css}">
</head>
<body>
    <h1>Link Expressions :</h1>
    <a th:href="@{/variable-expression}">Variable Expression</a>
    <a th:href="@{/selection-expression}">Selection Expression</a>
    <p><a th:href="@{/link-expression/{id}(id=${id})}">Link with Parameter</a></p>
</body>
</html>